# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Gradle
.gradle
**/out/
**/build/
**/target/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
